POLYMARKET_EXECUTE_TRADES=false
POLYMARKET_PRIVATE_KEY=pon_aqui_tu_private_key
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_SIGNATURE_TYPE=0
POLYMARKET_CLOB_API_KEY=
POLYMARKET_CLOB_API_SECRET=
POLYMARKET_CLOB_API_PASSPHRASE=